@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-scrollbar-track: #7c7c7c29;
  --color-scrollbar-thumb: #d8d8d887;
}

body[arco-theme="dark"] {
  --color-scrollbar-track: #7c7c7c29;
  --color-scrollbar-thumb: #d8d8d887;
}

body * {
  transition: background-color 0.2s ease-in-out;
}

body {
  font-size: 15px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
  overscroll-behavior: none;
  text-underline-position: under;
}

.mono {
  font-family: ui-monospace,Menlo,Monaco,Consolas,Liberation Mono,Courier New,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.arco-switch {
  background-color: var(--color-fill-4);
}

.arco-switch-type-line {
  background-color: transparent;
}

.arco-switch-checked {
  background-color: rgb(var(--primary-6));
}

.no-scrollbar ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar ::-webkit-scrollbar-track {
  background: transparent;
}

.dir-rtl {
  text-align: left;
  direction: rtl;
}

body[arco-theme="dark"] .arco-radio-button.arco-radio-checked {
  color: var(--color-text-1);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-fill-2);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--color-fill-4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-fill-4);
}
::-webkit-scrollbar-corner {
  background: var(--color-fill-2);
}
